
.container{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: auto;
    flex-wrap: wrap;
    max-width: none;
    align-items: center;
    justify-content: center;
    
    
}
.card{
    width: 40rem;
    margin: 3rem;
    background-color: black;
    color: whitesmoke;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.7rem 0.7rem 0.7rem 1.7rem;
    border-left: 1px dotted white;
}
.one{
    background: linear-gradient(90deg, rgb(255, 0, 115), rgb(255, 159, 202), rgb(255, 0, 115));
}
.two{
    background: linear-gradient(90deg, rgb(0, 179, 255), rgb(0, 0, 255), rgb(0, 38, 255));
}
.three{
    background: linear-gradient(90deg, rgb(0, 60, 255), rgb(105, 140, 255), rgb(0, 60, 255));
}
.five{
    background: linear-gradient(90deg, rgb(195, 255, 0), rgb(242, 255, 171), rgb(204, 255, 0));
}
.four{
    background: linear-gradient(90deg, rgb(149, 0, 255), rgb(171, 224, 255), rgb(81, 0, 255));
}
.six{
    background: linear-gradient(90deg, rgb(255, 140, 0), rgb(255, 223, 171), rgb(255, 94, 0));
}
.heading{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 700;
}
img{
    padding: 3rem;
}
.card-body{
    margin: 1rem 0.5rem 1rem;
}
a{
    text-decoration: none;
    padding: 5px 20px;
}
a{ 
    text-decoration: none;
    transition: transform 0.3s;
    display: inline-block;

    &:hover {
        transform: translateX(10px);
    }
}
.card-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin-top: 3rem;
}
@media screen and (max-width:1050px){
    .container{
        padding: 3rem;
        flex-wrap: wrap;
    }
}