<div class="container">
        <div class="card" >
            <img src="https://picsum.photos/202" class="card-img-top" alt="RxJS in Action">
            <div class="card-body">
                <h2 class="card-title">RxJS in Action</h2>
                <p class="card-text">Understanidng Observables, Promies, Subject and RxJS operators with simple examples.</p>
                
            </div>
            <a    (click)="navigate('rxjs')">Go to Project</a>
        </div>
        <div class="card" >
            <img src="https://picsum.photos/200" class="card-img-top" alt="RxJS in Action">
            <div class="card-body">
                <h2 class="card-title">Ecom Add to Cart</h2>
                <p class="card-text">Ecommerse Add to Cart, Place Order and Cancel order with dummy data.</p>
               
            </div>
             <a    (click)="navigate('eCom')">Go to Project</a>
        </div>
        <div class="card" >
            <img src="https://picsum.photos/201" class="card-img-top" alt="RxJS in Action">
            <div class="card-body">
                <h2 class="card-title">Job Portal Riplica</h2>
                <p class="card-text">Find Job as Job Seeker and Post Job as Recruiter. Complete Job Portal with Supabase API</p>
               
            </div>
             <a    (click)="navigate('jobportal/login-page')">Go to Project</a>
        </div>
</div>